/* style.css : stylesheet for crystals collecting game*/
/* Jan Jakubowski - 15.apr.19            */
@font-face {
  src: url(../fonts/scoreboard.ttf);
  font-family: 'scoreboard font';
}

* {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
  font-family: 'Luckiest Guy', cursive;
  /* font-display: 'Russo One', sans-serif; */
  /* font-weight: bold; */
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFE8D2;
  /* background: url(../images/clouds.jpeg) bottom; */
  /* background-size: cover; */
}

#ccgContainer {
  width: 80%;
  margin: 0 auto;
}

#nameOfTheGame {
  font-size: 60px;
}

.info {
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

#newGame, #playOver {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  /* border: 5px solid darkslateblue; */
  margin: 2%;
  padding: 20px;
  font-size: 24px;
}

#theScore {
  /* width: 100%; */
  background-color: #333333;
  color: yellow;
}

.scoreboard-element {
  font-family: 'scoreboard font';
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

#W, #L {
  font-size: 75px;
  line-height: 85px;
}

/* button > span {
  font-size: 2.5rem;
} */

#gameBoard {
  /* width: 85vw; */
  align-items: center;
}

.gem {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  background-color: #FFB581;
  border: 5px solid darkslateblue;
  margin: 2%;
  padding: 20px;
}

.gem:hover {
  border: 5px solid red;
}

/* .gem { */
  /* width: 266px; */
  /* height: 200px; */
  /* border-style: solid; */
  /* padding: 2px; */
  /* float: left; */
  /* margin: 2px; */
/* } */

#winningTotalDiv {
  background-color: #ccc;
  color: darkslateblue;
  border-radius: 25px;
  /* background: #73AD21; */
  padding: 20px; 
  /* width: 50vw;
  height: 300px; */
  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

#runningTotalDiv {
  border: black, 20px, solid;
  border-radius: 25px;
  /* background: #73AD21; */
  padding: 20px; 
  /* width: 50vw;
  height: 300px; */
  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

.normalColor {
  color: #ccc;
  background-color: darkslateblue;
}

.winnerColor {
  color: #111;
  background-color: lawngreen;
}

.loserColor {
  color: #eee;
  background-color: red;
}



/* #tester > div {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  border: 5px solid red;
  margin: 2%;
  padding: 20px;
} */

/* .totals-div {
  border-radius: 25px; */
  /* background: #73AD21; */
  /* padding: 20px; 
  width: 200px;
  height: 150px;
  font-size: 100px;
  line-height: 112px;
} */

/* END OF FILE */