/* style.css : stylesheet for crystals collecting game*/
/* Jan Jakubowski - week 4 - Homework                 */
@font-face {
  src: url(../fonts/scoreboard.ttf);
  font-family: 'scoreboard font';
}

* {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFE8D2;
}

#ccgContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #FFE8D2;
}

#nameOfTheGame {
  font-size: 60px;
}

.info {
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

#newGame, #playOver {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 10px auto 0 auto;
  padding: 20px;
  font-size: 24px;
}

#theScore {
  background-color: #333333;
  color: yellow;
  margin: 0;
  padding: 25px;
}

.scoreboard-element {
  font-family: 'scoreboard font';
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
}

.sb-element-w {
  font-size: 60px;
  color: lawngreen;
}

.sb-element-l {
  font-size: 60px;
  color: orangered;
}

#W, #L {
  font-size: 75px;
  line-height: 85px;
}

#gameBoard {
  align-items: center;
}

.crystal-image {
  width: 20%;
  height: 200px;
}

.gem {
  width: 20%;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  background-color: #FFB581;
  border: 5px solid darkslateblue;
  margin: 2%;
  padding: 20px;
  position: relative;
}

.gem:hover {
  border: 5px solid red;
}
  
/* .gem-img-caption .gem-img-top {
  z-index: 0;
} */
    
.gem-img-caption .gem-text {
  /* text-align: center; */
  top: 0;
  position: absolute;
  z-index: 1;
  color: #111111;
  font-size: 1.75rem;
  font-weight: bold;
}

.gem-img-top {
  top: 25%;
  position: absolute;
  z-index: 0;
  left: 10%;
}

#winningTotalDiv {
  background-color: #ccc;
  color: darkslateblue;
  border-radius: 25px;
  padding: 20px; 
  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

#runningTotalDiv {
  border: black, 20px, solid;
  border-radius: 25px;
  padding: 20px; 
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #ccc;
  background-color: darkslateblue;
}

/* .normalColor {
  
} */

.winnerColor {
  color: #111;
  background-color: lawngreen;
}

.loserColor {
  color: #eee;
  background-color: red;
}

/* END OF FILE */